.addButton,
.removeButton {
  border-width: 1px;
  border-style: solid;
  border-radius: 100%;
  background: none;
  cursor: pointer;

  width: 2em;
  height: 2em;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (hover: hover) {
  /* supports hover */
  .addButton:hover {
    background: var(--approve-color-hover);
  }

  .removeButton:hover {
    background: var(--alert-color-hover);
  }
}

.addButton:active {
  background: var(--approve-color-hover);
}

.removeButton:active {
  background: var(--alert-color-hover);
}

.addButton {
  border-color: var(--approve-color);
  color: var(--approve-color);
}

.removeButton {
  border-color: var(--alert-color);
  color: var(--alert-color);
}

.addButton svg,
.removeButton svg {
  display: block;
}
