.App {
  margin-left: 2em;
  margin-right: 2em;
}

.hidden {
  display: none;
}

button {
  padding: 0.2em 0.5em;
  border-radius: 3px;
  border: 1px solid var(--gray);
  color: var(--text-color);
  background: none;
  cursor: pointer;
}

@media (hover: hover) {
  /* when hover is supported */
  button:hover {
    background: var(--light-gray);
  }
}

button:active {
  background: var(--light-gray);
}
